@page "/"
@inject IStringLocalizer<Resource> Localizer

<PageTitle>@Localizer[nameof(Resource.CompanyName)]</PageTitle>

<h1>@Localizer[nameof(Resource.IndexWelcomeMessage)]</h1>

<p>@Localizer[nameof(Resource.IndexMeLine1)]</p>