:root {
    --primary: #ffc250;
    --primary: rgba(255, 194, 80, 1);
    --secondary: #000000;
    --secondary: rgba(0, 0, 0, 0.6);
    --background: #ffffff;
    --background: rgba(255, 255, 255, 1);
}
